<% @lists.each do |list| %>
  <div class="list_buttons_row">
  <%= link_to "Get an item from: #{list.name}", get_list_current_item_url(list.id), :method => :post %>
  <%= link_to "Add an item to: #{list.name}", new_list_item_url(list.id) %>
  </div>
<% end %>

<br/>

<%= link_to 'New list', new_list_path %>