<h1>Listing lists</h1>

<table>
<% @lists.each do |list| %>
  <tr>
  <%= button_to "Get an item from: #{list.name}", list_current_item_url(list.id) %>
  <%= link_to "Add an item to: #{list.name}", new_list_current_item_url(list.id) %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New list', new_list_path %>