a {
  display:block;
  padding:5px 10px;
  color:white;
  background-color:#99f;
  border:1px solid #77c;
  margin:10px 5px;
  float:left;
  text-shadow: 0px 1px #55a;
  font-size:14px;
  border-radius:4px;
  font-weight:bold;
  text-decoration:none;
}

a:visited {
  color:white;
}

a:hover {
  background-color:#66f;
}

a.create{
  background-color: #5ebc31;
  border-color:#492;
  border-radius:4px;
  text-shadow-color: #4a1;
}
a.create:hover{
  background-color:#3d9e07;
  text-shadow-color: #250;
}


.list_buttons_row{
  clear:both;
  margin-bottom:15px;
}

.list_name{
  margin-top:15px;
  font-size:18px;
  color:#666;
  font-weight:bold;
}

.current_item{
 font-size:25px;
 color:#676;
 margin:30px;
 margin-left:50px;
 text-shadow:1px #cfc;
}

a.back_door{
  position:absolute;
  right:10px;
  bottom:10px;
  background-color:#ccd;
  color:#999;
  text-shadow:none;
}

.empty {
  color:#999;
  font-size:80%;
}

a.sneak{
  background:none;
  text-shadow:none;
  color:#aaa;
  font-size:70%;
  border:none;
  font-weight:normal;
}

a.sneak:hover{
  color:#444;
  background:#eee;
}

.list_buttons_container{
  width:400px;
  margin:auto;
  margin-top:50px;
}

a.show,
a.edit,
a.delete{
  font-size:10px;
  padding:0px 5px;
  margin:4px;
}

a.delete{
  background-color:#f41;
}

a.delete:hover{
  background-color:#d20;
}

input.title{
  width:400px;
}