<% if @current_item %>
<div class="current_item"><%= @current_item.title %></div>
<% else %>
<div class="empty">(Nothing to do left on this List)</div>
<% end %>
<div class="current_item_actions">
  <%= link_to "This is done!", complete_list_current_item_path(@list), :method => :post, :class => 'done' %>
  <%= link_to "hold off on this", defer_list_current_item_path(@list), :method => :post, :class => 'hold_off' %>
</div>